header {background-color:white;font-family:"Roboto",sans-serif;font-size: 14px}
.clear:after {content:" ";display:table;clear:both}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {background-color:#04a6e4;color:#b8ecff;}
header a:focus, aside a:focus, footer a:focus, header a:hover, aside a:hover, footer a:hover {color:#04a6e4;text-decoration:underline}
.navbar-garbarino {margin-bottom:0;background-color:#04a6e4;border:1px solid transparent}
.navbar-garbarino .navbar-nav > li > a {color:#fff}
.owl-theme .owl-controls {width:100%}

