.sidebar{
  position: unset;
}

.main{
  display: block;
  margin: auto;
  float: left;

  .cms-title-container{
    display: block;

    h1{
      display: inline-block;
      margin: 0;
    }

    .cms-btn-create{
      display: inline-block;
      margin: 0 0 0 15px;
      vertical-align: bottom;
    }
  }

  .cms-message-container{
    display: block;
    margin: 20px 0 0 0;

    .bg-success, .bg-info, .bg-danger{
      padding: 15px;
    }
  }

  .cms-content{
    display: block;
    margin: 30px 0 0 0;

    .table{
      width: 100% !important;
      
      thead tr td{
        background-color: #edf5fc;
      }
    }
  }
}