/* <!-- Variables */

/* Color Main de viajes */

/* Variables --> */

body .navbar-header {
  margin-left: -15px !important;
}

body .navbar-header .cms-navbar-logo {
  float: left;
  margin-right: 15px;
}

body .sidebar {
  position: unset;
}

body .scrollup {
  position: fixed;
  bottom: 20px;
  right: 25px;
  cursor: pointer;
  opacity: 0.8;
}

body .scrollup .scrollupIcon {
  width: 60px;
}

body .scrollup .scrollupIcon:hover path {
  fill: #04a6e4;
}

body .typeahead {
  border: 1px solid #dedede;
  font-size: 14px;
  outline: medium none;
  padding: 8px 12px;
  display: block;
}

body .tt-menu {
  width: 422px;
  margin: 7px 0;
  padding: 8px 0;
  background-color: #ffffff;
  border: 1px solid #dedede;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

body .tt-menu .tt-dataset .tt-suggestion {
  padding: 3px 20px;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
}

body .tt-menu .tt-dataset .tt-suggestion:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #04a6e4;
}

body .tt-menu .tt-dataset .tt-suggestion .tt-cursor {
  color: #ffffff;
  background-color: #04a6e4;
}

body .tt-menu .tt-dataset .tt-suggestion .tt-cursor p {
  margin: 0;
}

body .main {
  display: block;
  margin: auto;
  float: left;
}

body .main .cms-title-container {
  display: block;
}

body .main .cms-title-container h1 {
  display: inline-block;
  margin: 0;
}

body .main .cms-title-container .cms-btn-create {
  display: inline-block;
  margin: 0 0 0 15px;
  vertical-align: bottom;
}

body .main .cms-title-container .cms-btn-submit {
  display: inline-block;
  margin: 0 0 0 15px;
  vertical-align: text-bottom;
}

body .main .cms-message-container {
  display: block;
  margin: 20px 0;
}

body .main .cms-message-container ul {
  margin: 0;
  padding: 0 0 0 20px;
}

body .main .cms-message-container .bg-success,
body .main .cms-message-container .bg-info,
body .main .cms-message-container .bg-danger {
  padding: 15px;
}

body .main .cms-content {
  display: block;
  margin: 30px 0 0 0;
}

body .main .cms-content .table {
  width: 100% !important;
}

body .main .cms-content .table thead tr td {
  background-color: #edf5fc;
}

body .main .cms-content .form-group .country_item {
  border-radius: 9px;
  cursor: pointer;
  display: inline-block;
  margin: 0 10px 0 0;
  width: 147px;
}

body .main .cms-content .form-group .country_item label,
body .main .cms-content .form-group .country_item input {
  cursor: pointer;
}

body .main .cms-content .form-group .country_item label {
  float: right;
  width: 124px;
  font-weight: normal;
  line-height: 18px;
}

body .main .cms-content .form-group .country_item .label-bold {
  font-weight: bold;
  line-height: 19px;
}

body .main .cms-content .form-group .country_item input {
  vertical-align: text-top;
  margin-top: 1px;
}

body .main .cms-content .regions-selected-countries {
  border-bottom: 1px solid #dedede;
  display: block;
  margin: 20px 0 23px;
  padding: 5px 0 20px;
}

body .main .cms-content .regions-selected-countries .regions-selected-country {
  display: inline-block !important;
  margin: 0 10px 10px 0;
}

body .main .cms-content .regions-selected-countries .regions-selected-country:hover {
  background-color: #c9302c;
  border-color: #ac2925;
}

body .main .cms-content .regions-selected-countries .regions-selected-country span {
  display: inline-block;
  margin: 1px 0 0 5px;
  vertical-align: text-top;
}

body .main .cms-content .regions-selected-countries .regions-selected-country-transition {
  background-color: #337ab7;
  border-color: #2e6da4;
  transition: background-color 500ms linear;
}

body .main .cms-content .regions-selected-countries .regions-selected-country-new {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

body .main .cms-content .regions-selected-countries-fixed {
  background-color: #F1F2FE;
  border: medium none;
  box-shadow: 0 1px 8px #b4b4b4;
  left: 0;
  padding: 20px 10% 10px;
  position: fixed;
  top: 30px;
  width: 100%;
}

body .main .region-content {
  margin: -3px 0 0;
}

body .main .region-content .region-country-group {
  display: block;
  border-bottom: 1px solid #dedede;
  padding: 0 0 20px;
}

body .main .region-content .region-country-group span {
  display: block;
  margin: 23px 0 15px;
}

body .main .region-content .region-country-group span h3 {
  margin: 0;
}

body .main .tag-content #tags-create-form .tag-table-container {
  display: block;
  border-bottom: 1px solid #dedede;
  border-top: 1px solid #dedede;
  padding: 20px 0 10px;
  margin: 33px 0 30px;
}

body .main .tag-content #tags-create-form .tag-table-container .add-item-row {
  display: inline-block;
  margin: 0 0 10px;
}

body .main .tag-content #tags-create-form .tag-table-container table {
  margin: 0 0 10px;
}

body .main .tag-content #tags-create-form .tag-table-container table .tag-item-row td {
  text-align: center;
}

body .main .tag-content #tags-create-form .tag-table-container table .tag-item-row td .select-product-type {
  width: 200px;
  margin: 6px 0 0;
}

body .main .tag-content #tags-create-form .tag-table-container table .tag-item-row td .select-city {
  height: 35px;
  padding: 0 10px;
  margin: -1px auto 0 !important;
}

body .main .tag-content #tags-create-form .tag-table-container table .tag-item-row td .tag-item-select {
  display: none;
  width: 310px;
  margin: 5px auto 0;
}

body .main .tag-content #tags-create-form .tag-table-container table .tag-item-row td .tag-item-order {
  width: 40px;
  margin: 2px 0 0;
}