

body {background-color:#f1f1f1;color:#3c3c3b;font-family:Arial,sans-serif;font-size:12px}
body>.container {margin-bottom:10px}
.main-footer {background-color:#fff}
.blue {color:#0793d2}
h1 {color:#0793d2;font-size:24px;font-weight:bold;line-height:35px}
#content.row {background-color:#ffffff;box-shadow:0 0 3px #cecece;border-radius:5px;margin-left:auto;margin-right:auto;padding:15px 0px 15px 20px}

.container-widget-busqueda {margin:-1px 0 0 0}

body.insurance-results .widget-busqueda-wrap {position:initial}
.widget-busqueda-wrap .tab-content {min-height:auto;;border-radius:5px}
.result-title {display:none;color:#555;font-size:13px;font-weight:bold;background-color:#ededed;padding:10px 0;margin:0 16px 15px 0;border-radius:5px}
.result-title  a {white-space:nowrap}
.result-title  #result-total {text-align:right}

.sidebar {display:none}
.sidebar .secundary h3 {color:#3c3c3b;font-size:16px;font-weight:bold;margin:5px 0}
.sidebar .secundary .bordeInf {border-bottom:1px dotted #b4b4b4;margin:20px 0 10px 0;padding-bottom:2px}
.sidebar .secundary {margin-top:15px;background-color:#ededed;border-color:#e5e5e5;border-radius:5px}
.sidebar .secundary ul {margin:0;padding:0}
.sidebar .secundary li {line-height:15px;list-style:outside none none;margin-bottom:5px}
.sidebar .secundary li a {color: #0793d2}

.product-list {border-bottom:1px dotted #b4b4b4;padding-bottom:2px;margin: 0 0 15px;}
.product-list h2 {margin:0 10px}
.product-list h2.top {margin:0;color:#0793d2;font-size:20px;font-weight:bold;line-height:20px}
.checklist.top {margin-top:10px}
.product-list .price {text-align:center;padding-right:0}
.product-list .price-title {padding:0 0 2rem}
.product-list .price-currency {color:#0793d2;font-size:20px;font-weight:normal;line-height:20px;margin:0}
.product-list .price-amount {color:#0793d2;font-size:20px;font-weight:bold;line-height:20px;margin:0}
.product-list .actions {padding:2rem 0 0 0}
.product-list .btn-info {background-color:#0793d2}
.product-list .btn-info:hover {background-color:#126799}

form.busqueda h2 {margin:0 0 0 0;cursor:pointer}
.ages-container {padding-right:5px;padding-left:5px}

.checklist ol, .checklist ul {margin:0;padding:0}
.checklist li {list-style: outside none none}
.checklist ul li {background:rgba(0, 0, 0, 0) url("../../images/master-sprite.png") no-repeat scroll 0 0;background-position:-940px -215px;line-height:18px;padding-bottom:8px;padding-left:27px}
